@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.ttf');  
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf');  
}
@font-face {
	font-family: 'Roboto-Italic';
	src: url('../fonts/Roboto-Italic.ttf');  
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf');  
}

@font-face {
	font-family: 'Roboto-MediumItalic';
	src: url('../fonts/Roboto-MediumItalic.ttf');  
}
@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('../fonts/Roboto-LightItalic.ttf');  
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

%icon-general {
	float: left;
	font-size: 48px;
	letter-spacing: 4px;
	color: #283238;
}

%icon-mask-header {
	float: left;
	font-size: 36px;
	color: #444444;
	padding-top: 13px;
}

%text-general {
	font-size: 36px;	
	font-weight: 300;	
	line-height: 48px;
	color: #283238;
	font-family: Roboto-Light;
}

%text-header {
	padding-left: 19px;
	color: #444444;		
	font-size: 48px;
	float: left;	
	font-weight: 300;
	line-height: 63px;
	font-family: Roboto-Light;
}

%transition {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

%title{
	color: #283238;
	font-size: 14px;
	font-style: italic;
	line-height: 19px;
}
%content {
	color: #283238;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
}

%button-start {
	padding-top: 30px;
	padding-bottom: 100px;
}

.btn-sign-in {
	&:hover {
		@extend %transition;
		color: #FFFFFF;
		background: linear-gradient(135deg, #B4EC51 0%,#429321 100%);
	}
}

.start-now {
	padding: 13px 40px;
	border-radius: 100px;
	background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);	
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	color: #FFFFFF;
	border: none;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
	line-height: 21px;

	&:hover {
		background: linear-gradient(135deg, #B4EC51 0%,#429321 100%);
		@extend %transition;
	}
}

body {
	margin: 0px;
	padding: 0px;
	width: 1920px;
	font-size: 13px;
	font-family: Roboto-Regular;
}

header {
	width: 100%;
	background-image: url("../images/Landing-page-PC/banner.jpg");
	.sign-in{
		padding-top: 43px;
		input{
			padding: 10px 16px;	
			border: 2px solid #8BC34A;	
			border-radius: 100px;
			color: #8BC34A;
			cursor: pointer;
			font-size: 12px;
			letter-spacing: 1px;
			background-color: unset;
			float: right;
		}
		.about-us{
			line-height: 41px;
		}
	}
	.image-header {
		text-align: center;
		padding-top: 165px;
	}
	.icons-header {
		padding-left: 3.34%;
		padding-top: 53px;
		.ti-gift {
			@extend %icon-general;
		}
		.ti-alarm-clock {
			padding-left: 37%;
			@extend %icon-general;
		}
		.ti-thumb-up {
			padding-left: 30.9%;
			@extend %icon-general;
		}
	}
	.text-icons-header {
		padding-top: 14px;
		.better{
			@extend %text-general;
		}
		.faster {
			padding-left: 29.74%;
			@extend %text-general;
		}
		.together {
			padding-left: 20.66%;
			@extend %text-general;
		}
	}
	.text-title-header {	
		padding-top: 53px;
		p{
			text-align: center;
			color: #283238;	
			font-size: 18px;	
			line-height: 24px;
			font-family: Roboto-Italic;
		}
	}
	.button-start-header {
		text-align: center;
		padding-top: 31px;
		padding-bottom: 233px;
	}
}

.today-i-learnt {
	width: 100%;
	box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);

	.today-i-learnt-header {
		padding-top: 100px;
		
		.ti-bookmark-alt {
			@extend %icon-mask-header;
		}

		p {
			@extend %text-header;
		}

		
	}

	.today-i-learnt-title {
		padding-top: 16px;
		padding-bottom: 25px;

		p {
			@extend %title;
		}
	}
	
	.image-today-i-learnt {
		margin-top: -121px;

		img {
			max-width: 100%;
		}
	}

	.content-today-i-learnt {

		.today-i-learnt-content {

			p {
				@extend %content;
			}
		}
	}

	.button-today-i-learnt {
		@extend %button-start;
		margin-top: -83px;
	}
}

.daily-report {
	width: 100%;

	.daily-report-header {
		padding-top: 100px;

		.ti-write {
			@extend %icon-mask-header;
		}

		p {
			@extend %text-header;
		}
		
	}

	.daily-report-title {
			padding-top: 16px;
			padding-bottom: 25px;

			p {
				@extend %title;
			}
		}

	.content-daily-report {

		.daily-report-detail {

			p {
				@extend %content;
			}
		}
	}

	.daily-report-img {
		margin-top: -108px;

		img {
			max-width: 100%;
		}
	}

	.button-daily-report {
		@extend %button-start;
		margin-top: -80px;
	}
}

.group {
	width: 100%;
	background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);

	.group-information {
		padding-top: 68.75px;
		padding-bottom: 70px;

		.info {
			float: left;
			width: 257px;
		
			.avatar {
				margin: auto;
				width: 109.5px;

				img {
					max-width: 100%;
					padding-bottom: 10.75px;
				}

				p {
					color: #FFFFFF;
					text-align: center;
					font-size: 16px;
					line-height: 21px;
					letter-spacing: 1px;
				}
			}
		}	
	}
}

.members {
	width: 100%;
	box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1);

	.members-header {
		padding-top: 100px;
		
		.ti-user {
			@extend %icon-mask-header;
		}

		p {
			@extend %text-header;
		}
	}

	.members-title {
		padding-top: 16px;
		padding-bottom: 25px;

		p {
			@extend %title;
		}
	}

	.members-content {

		.list-members {

			padding-top: 17px;
			p {
				@extend %content;
			}

			.ti-check-box {
				font-size: 18px;
				color: #8BC34A;
			}
		}
	}

	.image-members {
		margin-top: -108px;
		text-align: center;

		img {
			max-width: 100%;
		}
	}

	.button-members {
		@extend %button-start;
		margin-top: -92px;
	}
}

.customers {
	width: 100%;

	.customers-header {
		padding-top: 100px;
		
		.ti-face-smile {
			@extend %icon-mask-header;
		}

		p {
			@extend %text-header;
		}
	}

	.customers-title {
		padding-top: 16px;
		padding-bottom: 25px;

		p {
			@extend %title;
		}
	}

	.image-customers {
		margin-top: -108px;
		text-align: center;

		img {
			max-width: 100%;
		}
	}

	.customers-content {
		.list-customers {
			padding-top: 17px;
			p {
				@extend %content
			}

			.ti-unlock {
				font-size: 18px;
				color: #8BC34A;
			}

			.ti-cup {
				@extend .ti-unlock;
			}

			.ti-stats-up {
				@extend .ti-unlock;
			}
		}
	}

	.button-customers {
		@extend %button-start;
		margin-top: -105px;
	}
}

.our-customers {
	width: 100%;
	background-image: url('../images/Landing-page-PC/Rectangle-3.jpg');

	.our-customers-information {
		padding-top: 50px;

		.our-customers-header {
			text-align: center;

			p {
				color: #FFFFFF;
				line-height: 63px;
				font-family: Roboto-Light;
				font-size: 48px;
				font-weight: 300;
			}
		}
	}
	.group-our-customers {
		padding-top: 34px;

		.our-customers-avatar {
			.img-hover {
				padding-top: 14px;
			}

			&:hover{

				-moz-transform: scale(1.2);
			 	-webkit-transform: scale(1.2);
			 	transform: scale(1.2);
			 	@extend %transition;
			}
			text-align: center;

			.name {
				color: #FFFFFF;
				font-size: 13px;
				font-weight: 300;
				line-height: 14px;
				text-align: center;
				padding-top: 16px;
			}

			.job {
				color: #FFFFFF;	
				font-weight: 300;
				padding-bottom: 12px;
				line-height: 14px;
				font-size: 10px;
				text-align: center;
			}
		}
	}
	.our-customers-content {
		margin-top: -10px;
		.ti-quote-left {
			font-size: 72px;
			opacity: 0.4;
			color: #FFFFFF;
		}

		.ti-quote-right {
			margin-top: -36px;
			padding-bottom: 29px;
			@extend .ti-quote-left;
		}

		.content-our-customers{
			margin-top: -24px;
			@extend %text-general;
			font-size: 18px;
			color: #FFFFFF;
			line-height: 30px;
			text-align: justify;
		}
	}
}

.projects {
	width: 100%;

	.projects-header {
		padding-top: 100px;

		.ti-calendar {
			@extend %icon-mask-header;
		}

		p {
			@extend %text-header;
		}
	}

	.projects-title {
		padding-top: 16px;
		padding-bottom: 25px;

		p {
			@extend %title;
		}
	}

	.projects-content {
		p {
			@extend %content;
		}

		
	}

	.image-projects {
		margin-top: -122px;

		img {
			max-width: 100%;
		}
	}

	.button-projects {
		@extend %button-start;
		margin-top: -80px;
	}
}

.mask {
	height: 180px;
	width: 1920px;
	border: 1px solid #ECEFF1;
	background-color: #39474E;
	box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
}

.footer {
	width: 100%;
	border: 1px solid #ECEFF1;
	background-color: #39474E;
	box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);

	.logo-footer {
		padding-top: 45px;

		label {
			width: 96px;
			height: 29px;

			img {
				max-width: 100%;
			}
		}
	}

	.group-footer {
		padding-top: 54px;

		span {
			color: #8BC34A;
			font-weight: 500;
			line-height: 18px;
			font-family: Roboto-Regular;
		}

		.text-top-footer {
			padding-top: 14px;
			font-weight: 500;
			color: #D0D8DC;
			list-style: none;

			a {
				color: #D0D8DC;
			}
		}

		.text-bot-footer {
			padding-top: 7px;
			@extend .text-top-footer;
		}
	}

	.group-link-footer {
		padding-top: 108px;

		a {
			text-decoration: none;
			color: #8BC34A;
			font-size: 13px;
			line-height: 13px;
		}
	}

	.copy-right-2017 {
		margin-top: -18px;
		padding-bottom: 57px;

		p {
			color: #D0D8DC;
			font-weight: 500;
			line-height: 13px;
		}
	}
}

// Responsive TB
@media screen and (width: 768px) {
	header {
		background-image: url("../images/Landing-page-TB/Rectangle.jpg");
	}
}

@media screen and (min-width: 768px) and (max-width: 991px){

 	body {
		width: 100%;
	}
	.start-now {
		padding: 13px 27px;
		font-size: 14px;
		line-height: 19px;
		}
	
	%start-center {
		text-align: center;
		margin-top: 0px;
		padding-bottom: 50px;
	}
	
	header {
		.about-us {
			padding-left: 15%;
		}

		.sign-in {
			padding-top: 20px
		}

		.image-header {
			padding-top: 30px;
			label {
				width: 144px;
				height: 43px;

				img {
					max-width: 100%;
				}
			}
		}

		.icons-header {
			padding-top: 40px;
			text-align: center;
			padding-left: 8%;
			.ti-gift {
				font-size: 24px;
				letter-spacing: 2px;
			}

			.ti-alarm-clock {
				font-size: 24px;
				letter-spacing: 2px;
				padding-left: 34.61%;
			}

			.ti-thumb-up {
				padding-left: 32.5%;
				font-size: 24px;
				letter-spacing: 2px;
			}
		}

		.text-icons-header {
			padding-left: 5.5%;
			padding-top: 7px;
			.better {
				font-size: 24px;
				font-weight: 300;
				line-height: 32px;
			}

			.faster {
				font-size: 24px;
				font-weight: 300;
				line-height: 32px;
				padding-left: 24%;
			}

			.together {
				font-size: 24px;
				font-weight: 300;
				line-height: 32px;
				padding-left: 18%;
			}
		}

		.text-title-header {
			padding-top: 15px;

			p {
				font-size: 14px;
				line-height: 19px;
			}
		}

		.button-start-header {
			padding-top: 30px;
			padding-bottom: 84.2px;
		}
	}

	.today-i-learnt {
		.image-today-i-learnt {
			margin-top: 0px;
		}

		.today-i-learnt-header {
			padding-top: 50px;

			.ti-bookmark-alt {
				font-size: 30px;
			}

			p {
				font-size: 36px;
				padding-left: 13px;
			}
		}

		.today-i-learnt-title {
			font-size: 14px;
			text-align: center;
		}

		.button-today-i-learnt {
			text-align: center;
			margin-top: 30px;
			padding-bottom: 50px;
		}
	}

	.daily-report {
		.daily-report-img {
			margin-top: 0px;
		}

		.daily-report-header {
			padding-top: 50px;

			.ti-write {
				font-size: 30px;
			}

			p {
				font-size: 36px;
				font-weight: 300;
				line-height: 48px;
			}
		}

		.daily-report-title {
			text-align: center;
		}

		.button-daily-report {
			text-align: center;
			margin-top: 30px;
			padding-bottom: 50px;
		}
	}

	.group {
		.group-information {
			padding-bottom: 50px;
			padding-top: 48.75px;
		}
	}

	.members {
		.image-members {
			margin-top: 0px;
		}

		.members-header {
			padding-top: 50px;

			.ti-user {
				font-size: 30px;
			}

			p {
				font-size: 36px;
				font-weight: 300;
				line-height: 48px;
			}
		}

		.members-title {
			text-align: center;
		}

		.button-members {
			text-align: center;
			margin-top: 30px;
			padding-bottom: 30.93px;
		}
	}

	.customers {
		.image-customers {
			margin-top: 0px;
		}

		.customers-header {
			padding-top: 50px;

			.ti-face-smile {
				font-size: 30px;
			}

			p {
				font-size: 36px;
				font-weight: 300;
				line-height: 48px;
			}
		}

		.customers-title {
			text-align: center;
		}

		.button-customers {
			text-align: center;
			margin-top: 30px;
			padding-bottom: 30px;
		}
	}

	.our-customers {
		.our-customers-information {
			.our-customers-header {
				p {
					font-size: 36px;
					line-height: 48px;
					font-weight: 300;
				}
			}

			.group-our-customers {
				padding-top: 20px;
			}
		}
		
		.our-customers-content {
			.ti-quote-right {
				float: right;
			}

			.ti-quote-left {
				float: left;
			}
		}
	}

	.projects {
		.image-projects {
			margin-top: 0px;
		}

		.projects-header {
			padding-top: 50px;

			.ti-calendar {
				font-size: 30px;
			}

			p {
				font-size: 36px;
				font-weight: 300;
				line-height: 48px;
			}
		}

		.projects-title {
			text-align: center;
		}

		.button-projects {
			text-align: center;
			margin-top: 30px;
			padding-bottom: 50px;
		}
	}
}

@media screen and (max-width:480px){
	header{
		background-image: url("../images/Landing-page-MB/Rectangle.jpg");
	}
}
@media screen and (max-width: 767px) {
	body {
		width: 100%;
	}

	header {
		.about-us {
			padding-left: 30%;
		}
		.sign-in {

			padding-top: 13px;
		}

		.image-header {
			text-align: center;
			padding-top: 8px;
			label {
				width: 96px;

				img {
					max-width: 100%;
				}
			}
		}

		.icons-header {
			padding-left: 9.5%;
			padding-top: 20px;
			.ti-gift {
				font-size: 18px;
				letter-spacing: 1px;
			}

			.ti-alarm-clock {
				padding-left: 35.21%;
				font-size: 18px;
				letter-spacing: 1px;
			}

			.ti-thumb-up {
				padding-left: 33%;
				font-size: 18px;
				letter-spacing: 1px;
			}
		}

		.text-icons-header {
			padding-left: 7%;
			padding-top: 8px;

			.better {
				font-size: 18px;
				line-height: 24px;
			}

			.faster {
				padding-left: 27%;
				font-size: 18px;
				line-height: 24px;
			}

			.together {
				padding-left: 20.5%;
				font-size: 18px;
				line-height: 24px;
			}
		}

		.text-title-header {
			padding-top: 15px;
			p {
				font-size: 9px;
				line-height: 11px;
			}
		}

		.button-start-header {
			padding-top: 15px;
			padding-bottom: 26.75px;
		}
	}

	.today-i-learnt {
		.image-today-i-learnt {
			margin-top: 0px;
		}

		.today-i-learnt-header {
			padding-top: 30.25px;

			.ti-bookmark-alt {
				padding-top: 5px;
				font-size: 20px;
			}

			p {
				font-size: 24px;
				line-height: 32px;
			}
		}

		.today-i-learnt-title {
			p {
				font-size: 13px;
				text-align: center;
			}
		}

		.today-i-learnt-content {
			padding-top: 21px;
		}

		.button-today-i-learnt {
			text-align: center;
			margin-top: 20px;
			padding-bottom: 30px;
		}
	}

	.daily-report {
		.daily-report-img {
			margin-top: 0px;
		}

		.daily-report-header {
			padding-top: 30px;

			.ti-write {
				padding-top: 5px;
				font-size: 20px;
			}

			p {
				font-size: 24px;
				line-height: 32px;
			}
		}

		.daily-report-title {
			font-size: 13px;
			line-height: 24px;
			text-align: center;
		}

		.content-daily-report {
			p {
				font-size: 13px;
				text-align: center;
			}
		}

		.button-daily-report {
			text-align: center;
			margin-top: 20px;
			padding-bottom: 30px;
		}
	}
	
	.members {
		.members-header {
			padding-top: 30px;

			.ti-user {
				padding-top: 5px;
				font-size: 20px;
			}

			p {
				font-size: 24px;
				line-height: 32px;
			}
		}

		.members-title {
			text-align: center;
			font-size: 13px;
		}

		.image-members {
			margin-top: 0px;
			padding-top: 20.56px;
		}

		.button-members {
			text-align: center;
			margin-top: 20px;
			padding-bottom: 30px;
		}
	}

	.customers {
		.customers-header {
			padding-top: 30px;

			.ti-face-smile {
				padding-top: 5px;
				font-size: 20px;
			}

			p {
				font-size: 24px;
				line-height: 32px;
			}
		}

		.customers-title {
			text-align: center;
			font-size: 13px;
		}

		.image-customers {
			margin-top: 0px;
			padding-bottom: 20.56px;
		}

		.button-customers {
			text-align: center;
			margin-top: 20px;
			padding-bottom: 30px;
		}
	}

	.projects {
		.projects-header {
			padding-top: 30px;

			.ti-calendar {
				padding-top: 5px;
				font-size: 20px;
			}

			p {
				font-size: 24px;
				line-height: 32px;
			}
		}

		.projects-title {
			p {
				font-size: 13px;
				text-align: center;
			}
		}

		.projects-content {
			padding-top: 21px;

			p {
				font-size: 13px;
				line-height: 21px;
				text-align: justify;
			}
		}

		.image-projects {
			text-align: center;
			margin-top: 20px;
		}

		.button-projects {
			text-align: center;
			margin-top: 20px;
			padding-bottom: 30px;
		}
	}

	.footer {
		.footer-logo {
			label {
				width: 96px;
			}
		}

		.group-footer {
			padding-top: 25px;

			span {
				font-size: 12px;
				line-height: 16px;
				font-weight: 500;
			}
		}

		.group-link-footer {
			padding-top: 24px;
			padding-bottom: 29px;
		}

		.copy-right-2017 {
			float: right;
		}
	}
}

@media screen and (min-width: 400px) and (max-width: 480px) {
	header {
		background-repeat: no-repeat;
		.about-us{
			padding-left: 26%;
		}
		
		.icons-header {
			padding-left: 7%;
		}

		.text-icons-header {
			padding-left: 4%;

			.faster {
				padding-left: 20%;
			}

			.together {
				padding-left: 12%;
			}
		}
	}
}